<ng-template [ngIf]="color==='red'">
    <h1 [style.color]="colors[0]">red color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1 [style.color]="colors[1]">green color</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1 [style.color]="colors[2]">blue color</h1>
</ng-template>

<h1 *ngIf="demo === 'hello'; then ifCond else elsecond "></h1>

<ng-template #ifCond>
    <h1>if condition</h1>
</ng-template>
<ng-template #elsecond>
    <h1>else condition</h1>
</ng-template>