<h1>{{title}}</h1>
<br>
<br>
<form [formGroup]="loginForm" (ngSubmit)="getdata()">

  <input type="text" placeholder="entre name" formControlName="user">
  <br>
  <span *ngIf="user && user.invalid && user.touched">This is not a valid field</span>
  <br>
  <input type="text" placeholder="entre password" formControlName="password">
  <br>
  <span *ngIf="pass && pass.invalid && pass.touched">This is not a valid field</span>
  <br>
  <button [disabled]="loginForm.invalid">Submit</button>
</form>
<br>
<br>

