<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about">About</a></li>
  <li><a routerLink="services">Services</a></li>
</ul>
<router-outlet></router-outlet>


<!-- <ul>
  <li><a routerLink="services/1">service1</a></li>
  <li><a routerLink="services/2">service2</a></li>
  <li><a routerLink="services/3">service3</a></li>
</ul> -->

<ul *ngFor="let service of serviceList">
  <li>{{service.id}}</li>
  <li>{{service.name}}</li>
  <li>{{service.password}}</li>
  <li><a routerLink="services/{{service.id}}">service{{service.id}}</a></li>
</ul>